<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %> <% if(wikiQueries.private ==
      true){ %>
      <h2>Collaborators</h2>
      %> } else { %>
      <h2>NOT PRIVATE</h2>

      <% } %>
    </main>
  </body>
</html>
