<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% if(wiki.private == true) { %>
      <h2>Collaborators</h2>
      <% if(collaborators) { %> 
        <p>
            <ul class="list-group">
                <% collaborators.forEach((collaborator) => { %> 
                    <li class="list-group-item">
                        <%= collaborator.username %>
                    
                    </li>
                    <% }) %>
            </ul>
        </p>
        <% } %>
      <% if(currentUser && (currentUser.role === "premium" || currentUser.role
      === "admin")) { %>
      <form action="/wikis/<%= wiki.id%>/collaborators/add" method="POST">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            name="collaborator"
            placeholder="Enter username"
          />
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
      <% } %> <% } %>
    </main>
  </body>
</html>
